body {
	margin: 0;
	line-height: 1.6;
	background: url('images/fon.jpg') no-repeat;
	overflow: hidden;
	position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

@font-face {
	font-family: GothamPro Medium;
	src: url('ttf/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamPro Regular;
	src: url('ttf/14078.ttf');
}
@font-face {
	font-family: Tektur;
	src: url('ttf/Tektur-Regular.ttf');
  }
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link {
	font-size: 20px;
	font-family: GothamPro Medium;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 20px 10px;
	display: block;
}


.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}

header {
	width: 100%;
	margin: 0 auto;
	height: 20vh;
}
.header_inner {
	width: 100%;
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}

.universe {
	max-width: 1000px;
	max-height: 700px;
	perspective-origin: 40% 50%;
	perspective: 700px;
	margin: auto 0;
	position: absolute;
	z-index: 2;
	right: 0;
}
.solar_system {
	width: 950px;
	height: 400px;
	transform-style: preserve-3d;
}
.solar_system .sun {
	top: calc(45% - 90px / 2);
	left: calc(45% - 90px / 2);
	height: 90px;
	width: 90px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	transform-style: preserve-3d;
	box-shadow: 0px 0px 35px rgb(253, 239, 40);
}
.solar_system .sun::before {
	content: "";
	display: block;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background-image: url("images/sun.png");
	background-size: cover;
}
.mercury {
	position: absolute;
	z-index: 2;
	top: calc(45% - 130px/ 2);
	left: calc(45% - 130px/ 2);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 1.5px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 5s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.venus {
	position: absolute;
	z-index: 2;
	top: calc(45% - 230px/ 2);
	left: calc(45% - 230px/ 2);
	width: 230px;
	height: 230px;
	border-radius: 50%;
	border: 1.5px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 7s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.earth {
	position: absolute;
	z-index: 2;
	top: calc(45% - 330px/ 2);
	left: calc(45% - 330px/ 2);
	width: 330px;
	height: 330px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 12s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.mars {
	position: absolute;
	z-index: 2;
	top: calc(45% - 425px/ 2);
	left: calc(45% - 425px/ 2);
	width: 425px;
	height: 425px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 9.5s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.jupiter {
	position: absolute;
	z-index: 2;
	top: calc(45% - 515px/ 2);
	left: calc(45% - 515px/ 2);
	width: 515px;
	height: 515px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 15s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.saturn {
	position: absolute;
	z-index: 2;
	top: calc(45% - 605px/ 2);
	left: calc(45% - 605px/ 2);
	width: 605px;
	height: 605px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 11s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.uranus {
	position: absolute;
	z-index: 2;
	top: calc(45% - 705px/ 2);
	left: calc(45% - 705px/ 2);
	width: 705px;
	height: 705px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 18s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.neptun {
	position: absolute;
	z-index: 2;
	top: calc(45% - 785px/ 2);
	left: calc(45% - 785px/ 2);
	width: 785px;
	height: 785px;
	border-radius: 50%;
	border: 1px solid rgba(230, 230, 230, 0.6);
	transform: scale3d(3.0, 3.0, 3.0);
	transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);
	animation: planet 25s linear 0.3s infinite;
	transform-style: preserve-3d;
}
.mercury::after {
	display: block;
	content: "";
	width: 19px;
	height: 19px;
	border-radius: 50%;
	animation: mercury-invert 5s linear 0.3s infinite;
	background: url("images/меркурий.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.venus::after {
	display: block;
	content: "";
	width: 32px;
	height: 32px;
	border-radius: 50%;
	animation: venus-invert 7s linear 0.3s infinite;
	background: url("images/венера3.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.earth::after {
	display: block;
	content: "";
	width: 37px;
	height: 37px;
	border-radius: 50%;
	animation: earth-invert 12s linear 0.3s infinite;
	background: url("images/земля.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.mars::after {
	display: block;
	content: "";
	width: 26px;
	height: 26px;
	border-radius: 50%;
	animation: mars-invert 9.5s linear 0.3s infinite;
	background: url("images/марс2.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.jupiter::after {
	display: block;
	content: "";
	width: 55px;
	height: 56px;
	border-radius: 50%;
	animation: jupiter-invert 15s linear 0.3s infinite;
	background: url("images/юпитер.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.saturn::after {
	display: block;
	content: "";
	width: 45px;
	height: 45px;
	border-radius: 50%;
	animation: saturn-invert 11s linear 0.3s infinite;
	background: url("images/saturn.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.uranus::after {
	display: block;
	content: "";
	width: 43px;
	height: 43px;
	border-radius: 50%;
	animation: uranus-invert 18s linear 0.3s infinite;
	background: url("images/уран.png") no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
.neptun::after {
	display: block;
	content: "";
	width: 47px;
	height: 47px;
	border-radius: 50%;
	animation: neptun-invert 25s linear 0.3s infinite;
	background: url('images/neptun.png') no-repeat;
	background-size: cover;
	margin: 0 auto;
	margin-top: -5px;
}
@keyframes planet {
0% {transform: rotateX(70deg) rotateY(-20deg) rotateZ(360deg);}
100% {transform: rotateX(70deg) rotateY(-20deg) rotateZ(0deg);}
}
@keyframes mercury-invert {
	0% { transform: rotateX(75deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 7px 2px 7px black inset;}
	55% {box-shadow: 17px 17px 25px black inset;}
	55.1% {box-shadow: -22px 17px 25px black inset;}
	70% {box-shadow: -14px 2px 7px black inset;}
	100% { transform: rotateX(75deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes venus-invert {
	0% { transform: rotateX(75deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 16px 5px 16px black inset;}
	55% {box-shadow: 25px 25px 55px black inset;}
	55.1% {box-shadow: -30px 25px 55px black inset;}
	70% {box-shadow: -21px 5px 16px black inset;}
	100% { transform: rotateX(75deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes earth-invert {
	0% { transform: rotateX(80deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 19px 6px 19px black inset;}
	55% {box-shadow: 35px 35px 60px black inset;}
	55.1% {box-shadow: -40px 35px 60px black inset;}
	70% {box-shadow: -24px 7px 19px black inset;}
	100% { transform: rotateX(80deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes mars-invert {
	0% { transform: rotateX(80deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 13px 3px 13px black inset;}
	55% {box-shadow: 22px 22px 35px black inset;}
	55.1% {box-shadow: -25px 22px 35px black inset;}
	70% {box-shadow: -18px 3px 13px black inset;}
	100% { transform: rotateX(80deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes jupiter-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 28px 12px 28px black inset;}
	55% {box-shadow: 50px 50px 75px black inset;}
	55.1% {box-shadow: -55px 50px 75px black inset;}
	70% {box-shadow: -35px 12px 28px black inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes saturn-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 20px 9px 20px black inset;}
	55% {box-shadow: 45px 45px 55px black inset;}
	55.1% {box-shadow: -50px 45px 55px black inset;}
	70% {box-shadow: -35px 9px 20px black inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes uranus-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 16px 5px 16px black inset;}
	55% {box-shadow: 32px 32px 55px black inset;}
	55.1% {box-shadow: -37px 32px 55px black inset;}
	70% {box-shadow: -21px 5px 16px black inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}
@keyframes neptun-invert {
	0% { transform: rotateX(85deg) rotateY(0deg);
	box-shadow: 0px 0px 0px black inset;}
	30% {box-shadow: 14px 3px 14px black inset;}
	55% {box-shadow: 27px 27px 45px black inset;}
	55.1% {box-shadow: -30px 27px 45px black inset;}
	70% {box-shadow: -20px 3px 14px black inset;}
	100% { transform: rotateX(85deg) rotateY(360deg);
	box-shadow: 0px 0px 0px black inset;}
}


.content{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.text {
	width: 800px;
	margin-left: 140px;
	display: flex;
	flex-direction: column;	
	z-index: 5;
}
.title {
	font-family: Tektur;
	font-size: 58px;
	color: rgb(0, 225, 255);
	text-transform: uppercase;
	text-shadow: 0px 0px 5px rgb(0, 225, 255);
	margin-bottom: 50px;
}
.subtitle {
	font-family: GothamPro Regular;
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 10px 15px black;
}
.button {
	max-width: 405px;
	margin: 0 auto;
	justify-self: flex-end;
	z-index: 2;
}
.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-family: GothamPro Medium;
	color: rgb(0, 204, 231);
	font-size: 28px;
	letter-spacing: 8px;
	text-shadow: 0px 0px 5px black;
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px 12px 10px 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.2s;
}
.btn:hover{
	transform: scale(1.1);
	text-shadow: 0px 0px 7px rgb(59, 232, 255);
}

@media (max-width: 1450px){
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
}

@media (max-width: 900px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo{
		transform: scale(0.8);
		margin: 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.text{
		margin-left: 50px;
		width: 70%;
		
	}
	.title{
		font-size: 35px;
	}
	.subtitle{
		font-size: 23px;
	}
	.btn{
		font-size: 18px;
	}
	.universe{
		right: -450px;
		overflow: hidden;
	}
	.solar_system{
		height: 600px;
	}
	.button{
		transform: scale(0.7);
	}
}

@media (max-width: 600px) {
	header{
		
		justify-content: center;
		align-content: center;
	}
	.logo{
		transform: scale(0.7);
		margin: 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
	}
	.text{
		margin-left: 10px;
		width: 100%;
		
	}
	.title{
		font-size: 25px;
	}
	.subtitle{
		font-size: 13px;
	}
	.btn{
		font-size: 18px;
	}
	.universe{
		right: -450px;
		
		overflow: hidden;
	}
	.button{
		transform: scale(0.7);
	}
}

